<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.Lib.x64" version="10.7.0.22694" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Lib.x86" version="10.7.0.22694" targetFramework="net452" />
  <package id="Atalasoft.dotImage.x64" version="10.7.0.22694" targetFramework="net452" />
  <package id="Atalasoft.dotImage.x86" version="10.7.0.22694" targetFramework="net452" />
  <package id="Atalasoft.Shared" version="10.7.0.22694" targetFramework="net452" />
  <package id="EvilDICOM" version="1.5.1.7" targetFramework="net452" />
  <package id="OpenTK" version="1.1.2349.61993" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net452" />
</packages>